﻿<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.username}}!</h1>
    <ul>
        <h2>Fare Details {{currentUser.fare}}!</h2>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>